*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: #181818;
    /* background-color: #fff; */
}


/* parametros generales de toda la página */
.p-general {
    padding: 0 11%;
}

.m-general {
    margin: 7% 0;
}

.titulo-general {
    font-size: 40px;
    margin-bottom: 90px;
    text-align: center;
    font-family: 'Keania One', cursive;
    /* font-family: 'Rubik Glitch', cursive; */
    /* font-family: 'Barlow', sans-serif; */
    /* color: #cacaca; */
    color: #d10000;
}

/* .outline {
    outline: 1px solid red;
} */

/* nav */

header {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    position: sticky;
    top: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.logo {
    width: 140px;
    height: 55px;
}

.logo > a > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.header-menu-horizontal {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 15px 0;
}

.header-menu-horizontal > li{
    margin: 0 1em;
}

.desplegable {
    display: flex;
}

.bi-caret-down-fill {
    color: white;
    height: 11px;
    width: 11px;
    margin: 10px 6px 0 0;
}

.header-menu-horizontal > li > a,
.desplegable > a {
    display: block;
    padding: 6px;
    text-decoration: none;
    color: #fff;
}

.header-menu-horizontal > li:hover{
    background-color: #e50914;
    border-radius: 4px;
}

.header-menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
    border-radius: 10px;
}

.header-menu-vertical li a {
    display: block;
    color: white;
    text-decoration: none;
    /* font-size: 13px; */
    padding: 8px;
}

.header-menu-horizontal li:hover .header-menu-vertical {
    display: block;
}

.header-menu-vertical li:hover {
    background-color: #c50000;
    border-radius: 4px;
}

.video {
    background-color: #ff000d;
    border-radius: 4px;
    padding: 8px;
    list-style: none;
    text-decoration: none;
    color: #fff;
    border: 1px solid #ff000d;
}

.video:hover {
    background-color: #000;
    color: #ff000d;
}


/* Presentacion */

.hero {
    display: inline-block;
    width: 100%;
    height: 590px;
    font-family: sans-serif;
    background-image: url(../Background-img.jpg);
    background-repeat: no-repeat;
    background-size: 92% 100%;
    background-position: top right;
}

.hero-title {
    display: inline-block;
    width: 60%;
    height: 100%;
    padding: 60px 0 0 69px;
    /* background-color: rgb(29, 27, 27); */
    /* background: linear-gradient(to right, #212121,#1d1b1b, transparent); */
    /* outline: 1px solid red; */
    background: -webkit-linear-gradient(left,#181818 10%,rgba(23,23,23,.98) 20%,rgba(23,23,23,.97) 25%,rgba(23,23,23,.95) 35%,rgba(23,23,23,.94) 40%,rgba(23,23,23,.92) 45%,rgba(23,23,23,.9) 50%,rgba(23,23,23,.87) 55%,rgba(23,23,23,.82) 60%,rgba(23,23,23,.75) 65%,rgba(23,23,23,.63) 70%,rgba(23,23,23,.45) 75%,rgba(23,23,23,.27) 80%,rgba(23,23,23,.15) 85%,rgba(23,23,23,.08) 90%,rgba(23,23,23,.03) 95%,rgba(23,23,23,0) 100%);
}

.hero-title__img {
    display: inline-block;
    width: 300px;
    height: 190px;
}

.hero-title__img img {
    object-fit: cover;
    object-position: left;
    height: 100%;
    width: 100%;
}

.hero-title__content {
    padding: 50px 0 0 0;
    color: #fff;
    /* font-family: 'Oswald', sans-serif; */
}

.hero-title__content > h1 {
    /* font-size: 24px; */
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

.hero-title__content__info{
    margin: 20px 0;
    font-size: 14px;
}

.item{
    margin: 0 4px;
    font-size: 20px;
}

.edad {
    border: 1px solid #a3a3a3;
    padding: 1px 5px;
}

.hero-title__content__text {
    display: inline-block;
    width: 500px;
}

.text {
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
}

.hero-title__content__text__two {
    margin: 20px 0 50px 0;
}

.color-grey {
    color: #a3a3a3;
}



/* Personaje principal */

.person__text > p {
    font-size: 18px;   
    line-height: 31px;
    text-align: justify;
    font-family: 'Saira Condensed', sans-serif;
}

.slider {
    width: 300px;
    height: 430px;
    overflow: hidden;
    float: right;
    margin: 0 0 0 40px;
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 200%;

    animation: cambio 15s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

@keyframes cambio {
    0% { margin-left: 0;}
    45% { margin-left: 0;}

    50% { margin-left: -100%;}
    100% { margin-left: -100%;}
}


/* Sinopsis del capitulo */

/* .sinop {
    /* background-color:#ffffff;

} */

.sinop__content {
    display: flex;
    padding: 50px 0 0;
}

.sinop__content__img {
    height: 400px;
    width: 600px;
}

.sinop__content__img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sinop__content__text {
    width: 47%;
    margin: 0 auto;
}

.sinop__content__text h2 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: start;
    /* font-family: 'Rubik Glitch', cursive; */
    /* font-family: 'Barlow', sans-serif; */
    /* font-family: 'Big Shoulders Stencil Text', cursive; */
    font-family: 'Keania One', cursive;
    color: #d10000;
}

.sinop__content__text p {
    font-size: 18px;   
    line-height: 35px;
    text-align: justify;
    /* font-family: 'Barlow', sans-serif; */
    /* font-family: 'Big Shoulders Stencil Text', cursive; */
    font-family: 'Saira Condensed', sans-serif;
    margin-bottom: 40px;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    padding: 30px 6em;
    background-color: #000;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

.enlaces {
    margin-right: 40px;
}

.enlaces ul li {
    font-size: 18px;
    margin-right: 100px;
    padding: 10px 0;
    width: 160px;
    font-family: sans-serif;
}

.bi-facebook,
.bi-instagram,
.bi-twitter,
.bi-linkedin{
    font-size: 30px;
    margin: 15px;
}

.bi:hover{
    color: rgb(255, 0, 0);
}

/* Slider de notas */

.notas {
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 500px;
}

.notas__titulo {
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
    color: #d10000;
    margin-bottom: 40px;
}

.notas article {
    padding: 20px 20px;
    width: 1240px;
}

.notas__slider {
    display: flex;
    background-color: #444444;
    border-radius: 10px;
}

/* cartas de notas */

.notas__slider__card {
    display: inline-block;
    padding: 15px;
    margin: 20px;
    width: 200px;
    height: 243px;
    border-radius: 10px;
    /* background-color: #353535;  */
    /* background-color: #2e2e2e;  */
    background-color: #292929; 
    text-align: start;
}

.notas__slider__card h3 {
    font-size: 12px;
    margin: 10px 0;
    color: #636363;
    font-family: 'Saira Condensed', sans-serif;
}

.notas__slider__card p {
    font-size: 14px;
    margin-bottom: 16px;
    color: #fff;
    font-family: 'Saira Condensed', sans-serif;
}

.notas__slider__card a {
    background-color: #444444;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #9c9c9c;
    font-family: 'Saira Condensed', sans-serif;
}

.notas__slider__card a:hover {
    background-color: #ff000d;
    color: #fff;
}

.card__img__a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    border-radius: 6px;
    /* background-color: #555555; */
    background-color: #fff;
}


.card__img__a img {
    /* object-fit: contain; */
    /* width: 100%; */
    height: 25px;
    /* margin: 25px 0 0; */
}

.card__img__b {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    border-radius: 6px;
    /* background-color: #555555; */
    background-color: #fff;
}

.card__img__b img {
    height: 17px;
}

.card__img__c {
    display: inline-block;
    height: 80px;
    width: 100%;
}

.card__img__c img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.card__img__d {
    display: inline-block;
    height: 80px;
    width: 100%;
    border-radius: 6px;
    /* background-color: #c5c5c5; */
    /* background-color: #555555; */
    background-color: #fff;
}

.card__img__d img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.card__img__e {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
}

.card__img__e img {
    width: 90px;
    /* outline: 1px solid red; */
}







